/*This is my new stylesheet*/
/*p{
  color: #ff0000;
  background-color: #0000FF;
}
*/
h1{
  background-color: #33F493;
  color: #FFFFFF;
}
a{
  color: #ff0000;
  text-decoration: none;
}
a:hover{
  color: #0000ff;
  text-decoration: underline;
}
#divexample{
  color: #00ff00;
  background-color: #ffff00;
}
#specialid{
  color: #00FF00;
  background-color: #000000;
}
.specialp{
  color: #00FF00;
  background-color: #FFFFFF;
}
.spanstyle{
  color: #00ff00;
}
footer{
  color: #ffffff;
  background-color: #ff0000;
}
