a{
  color: #ff0000;
}
a:hover{
  color: #F7F13A;
}
a:visited{
  color: #00ff00
}
body{
  background-color: #F5F3F3;
  color: #555555;

  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* same as above */
  font: normal 16px Arial,Helvetica,sans-serif;
  line-height: 1.6em;
  margin:16px;
}
.creativetk{
  color: #B11515;
}
.courshours{
  font-style: italic;
  background-color: #17F117;
}
.copyright{
  font-weight: bold;
  color: #D2CFCF;
  background-color: #0F0E0E;
}
.gpareq{
  color: #F73A3A;
  font-weight: bold;
  font-style: oblique;
  background-color: #D2CFCF;
}
.majorctk{
  text-align: center;
}
h2{
  color: #FCFCFC;
  background-color: #180000;
}
#group-course h3,h4,h3{
  color: #4C1919;
  background-color: #D3E9BD;
}
#discription{
  font-style: italic;
  background-color:#F4EFA3;
  font-size: 13px;
}
