body {
  background-image: url("bodyBackground.png");
  color: white;
  font-family: Helvetica, Arial,sans-serif;
}
button{
  cursor: pointer;
}
#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  background-color: #080202;
  border-radius: 27px;
}
#laptopimg{
  grid-column: span 6;
  margin-top: 24px;
  border-radius: 27px;
  box-shadow: 4px 4px 10px #CFC8C8;
}
#logoimg{
  grid-column: span 6;
}
#csshtmlxd{
  padding: 24px;
  text-align:  center;
}
#csshtmlxd img{
  border: 0px solid #CFC8C8;
  width: 60px;
  border-radius: 27px;
  box-shadow: 4px 4px 10px #CFC8C8;
  margin: 24px;
}
h1{
  color: #D6E4EA;
  font-family: 'Creepster', cursive;
}
h2{
  text-shadow: 2px 2px 2px #000;
  font-family: graphite-std-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}
footer{
  grid-column: span 12;
  border-top: 4px solid #727272;
  margin-top: 24px;
}
footer a{
  color:white;
  transition: color 0.5s;
}
footer a:hover{
  color:#727272;
}
footer p{
  text-align: center;
  font-style: italic;
  padding: 24px;
}
header{
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-bottom: 4px solid #727272;
  margin-bottom: 24px;
}
.linkcolor{
    background-image: linear-gradient(to right top, #061730, #001f32, #002528, #002818, #1e2906);
    border-top-left-radius: 27px;
    border-bottom-right-radius: 27px;
    padding: 34px;
    border: 0px solid #727272;
    box-shadow: 4px 4px 10px #CFC8C8;
}
.linkcolor a{
  color: white;
  font-weight: bold;
}
main{
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 24px;
}
nav{
  grid-column: span 6;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li a{
  display: block;
  color: white;
  font-family: Helvetica, sans-serif,Arial;
  font-weight: bold;
  text-decoration: none;
  padding: 18px;
  margin: 6px;
  transition: background-color 0.5s, color 1.5s;
}
nav a:hover{
  background-color: #C72B26;
  color: black;
}
nav .active{
  background-color: #C72B26;
  color: black;
}
p a{
  font-family: Georgia,Helvetica;
}
section{
  grid-column: span 6;
}
span{
  color: #AD2C2C;
}
